<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffee Pot App</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/coffee.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-custom">
            <a class="navbar-brand navbar-center" href="http://www.indellient.com">
                <img src="/img/indellient-logo-bw.png" width="250" height="100" class="d-inline-block align-top" alt="">
            </a>
            <!-- <h1 class="navbar-text">Coffee Pot App</h1> -->
            </nav>
        </div>
        <%= yield %>
    </div>
</body>
<script href="/js/bootstrap.min.js" type="text/javascript"></script>
</html>
