
<div class="jumbotron">
<h1>Create A User</h1>
  <form class="form-signin" method="post" action='/user''>
    <label for="inputName" class="sr-only">Name</label>
    <input type="name" name="user[name]" id="inputName" class="form-control" placeholder="Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="user[email]" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="user[password]" id="inputPassword" class="form-control" placeholder="Password" required>

    <input id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" value='Sign Up'/>
  </form>
</div>
